*.~*
~*.*
*.zip
*.exe
*.cfg
*.dcu
*.ddp
*.doc*
*.dof
*.dsk
*.dti
*.identcache
*.ini
*.local
*.mpb
*.pdf
*.png
*.res
*.stat
*.txt
*.tvsconfig
*.vlb
__history
Win32
Win64
ClueS_Java
DirMonitor
MonitorDirectory.*
weer*
*group*
